.data-container {
    max-width: 1440px;
    margin-left: 1rem; 
    margin-right: 1rem; 
    padding: 0 8px 0 8px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 2rem; 
  }
  
  .button-container {
    display: flex;
    justify-content: end; 
  }
  
  